@import './variables.scss';

// General

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    margin: 0px;
    background-color: $main-background;
    color: $text-color;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 562px;
}

.no-decoration {
    text-decoration: none;
    color: $text-color;
}

.button {
    height: 30px;
    width: 50px;
    color: white;
    background-color: $primary-color;
    border: none;
    border-radius: 20px;
    margin: 5px 0px;
    &:hover {
        cursor: pointer;
        background-color: $hover-color;
    }
    &:hover:active {
        background-color: rgb(65, 65, 233);
    }
}

.input-border {
    border: 1px solid lightgray;
    &:focus {
        outline: none;
        border: 2px solid rgb(110, 110, 110);
        border-radius: 2px;
    }
}

.nested-link-parent,
  .nested-link-child {
    position: absolute;
    text-decoration: none;
  }
  
.nested-link-parent {  
z-index: 0;
padding-top: 40px;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.nested-link-child {
z-index: 1;
top: 0;

}

.active-decoration {
    &:active {
        text-decoration: underline;
    }
}

.relative {
    position: relative;
}

.error {
    color: rgb(224, 15, 15);
}

// Post
.post-box {
    position: relative;
    height: auto;
    width: 550px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 20px;
    margin: 10px 0px;
    padding-bottom: 50px;
    max-height: 160px;
}

.post-textarea {
    max-height: 150px;
    width: 525px;
    font-size: 18px;
    resize: none;
    padding: 5px 10px;
    border: none;
    &:focus {
        outline: none;
        border: none;
    }
}

.post-profile {
    display: flex;
    margin: 5px;
}

.post-profile-pic {
    width: 30px;
    border-radius: 50%;
    &:hover {
        filter: grayscale(35%)
    }
}

.post-profile-name {
    padding-left: 10px;
    font-size: 20px;
    &:hover {
        text-decoration: underline;
    }
}

.post-button-position {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.post-button {
    height: 32px;
    width: 54px;
    font-size: 14px;
}

// Feed Selector
.feed-selector-container {
    display: flex;
    justify-content: center;
}

.feed-selector-box {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 28px;
}

.feed-selector-item {
    display: flex;
    font-size: 17px;
    padding: 0px 5px;
    width: 265px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    &:hover {
        background-color: rgb(246, 246, 246);
        border: 1px solid lightgray;
    }
}

// Feed
.feed-container {
    display:flex;
    justify-content: center;
}

.feed-box {
    width: 550px;
    border-bottom: 1px solid lightgray;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.feed-profile {
    display: flex;
    margin: 5px;
}

.feed-profile-pic {
    width: 30px;
    border-radius: 50%;
}

.feed-profile-name {
    padding-left: 10px;
    font-size: 20px;
}

.content-box {
    font-size: 18px;
    resize: none;
    padding: 5px;
    white-space: pre-wrap;
}

// Home
.home-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Navbar
.navbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.searchbar {
    width: 200px;
    height: 26px;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 20px;
    &:focus {
        outline: none;
        border: 1px solid lightgray;
        border-radius: 20px;
    }
}

.searchbar-box {
    padding-left: 10px;
}

.search-results {
    margin: 3px 7px;
}

.search-results-box {
    width: 225px;
    height: 100px;
    position: absolute;
    top: 8%;
    left: 5%;
    z-index: 1;
    border: solid 1px lightgray;
    border-radius: 10px;
}

.search-results-item {
    padding: 2px 5px;;
    margin-top: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
        background-color: lightgray;
    }
    &:hover * {
        background-color: lightgray;
    }
}

.search-profile-pic {
    border-radius: 50%;
    width: 40px;
}

.search-user {
    font-size: 18px;
    margin-left: 5px;
}

.logo {
    width: 45px;
}

.logo-searchbar-box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 8px
}

.login-signup-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 100px;
}

.signup {
    margin-left: 20px
}

.login-signup-buttons {
    text-decoration: none;
    &:hover {
        color:rgb(0, 0, 0)
    }
    &:active {
        text-decoration: underline;
    }
}

.logout-button {
    margin-top: 5px;
    text-decoration: none;
    &:hover {
        color:rgb(0, 0, 0);
        cursor: pointer;
    }
    &:active {
        text-decoration: underline;
    }
}

.user-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-box-item {
    margin-right: 5px;
    font-size: 17px;
}

.user-popup {
    visibility: hidden;
    width: 120px;
    color: #000;
    text-align: center;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 88%;
    right: 5%;
  }

  .down-arrow {
    width: 13px;
    margin-top: 2px;
  }

  .profile-button {
    padding-bottom: 6px;
    display: block;
    width: 120px;
    border-bottom: 1px solid lightgray
  }

// Main
.main {
    width: 50%;
}

// Profile Page
.profile-box {
    width: 50%;
}

.cover-photo {
    display: block;
    height: 250px; 
    width: 562px;
    background-color: rgb(143, 142, 142);
    border-radius: 3px;
}

.pictures {
    position: relative;
}

.profile-pic {
    position: absolute;
    bottom: 0;
    padding: 1px;
    margin: 1px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-name {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 20px;
}

.follow-box {
    display: flex;
    margin: 5px 0px;
    align-items: center;
}

.follow-box-item {
    margin-right: 10px;
}

.follow-button {
    height: 24px;
    width: 60px;
}

.profile-post-box {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 500px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

// Login and Signup
.form-item {
    padding: 5px 0px;
    font-size: 20px;
}

.form-item-small {
    padding: 5px 0px;
    font-size: 15px;
}

.form-input {
    width: 200px;
    height: 26px;
    font-size: 15px;
    padding-left: 5px;
}

.form-input-password {
    outline: none;
    border: none;
    width: 170px;
    height: 26px;
    font-size: 15px;
    padding-left: 5px;
}

.form-box {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button {
    height: 30px;
    width: 54px;
    font-size: 14px;
}

.show-icon {
    position: absolute;
    cursor: pointer;
    height: 24px;
    right: 4px;
    top: 3.5px;
}